* {
    font-family: "Arial", "Verdana", sans-serif;
}

/* #content {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

#header {
    background-color: cornflowerblue;
}


#footer {
    background-color: bisque;
}

#spacer {
    flex: 1;
}

.header {
    /* Header CLASS, applies to footer too */
    display: flex;
    align-self: stretch;
    justify-content: space-around;
    color: darkblue;
    font-weight: bold;
    padding: 16px;
}

html {
    background-color: beige;
}

body {
    min-height: 100vh; /* Makes the content take up full screen*/
    display: flex;
    flex-direction: column;
    margin: 0;
}