* {
    font-family: "Arial", "Verdana", sans-serif;
}

#header {
    background-color: cornflowerblue;
}

.header {
    /* Header CLASS, applies to footer too */
    display: flex;
    /* align-self: stretch; */
    justify-content: space-around;
    color: darkblue;
    font-weight: bold;
    padding: 16px;
}

#inputForm {
    /* align-self: center; */
    max-width: 80vi;
    display: flex;
    justify-content: space-around;
}

#spacer {
    flex: 1;
}

#footer {
    background-color: bisque;
}

html {
    background-color: beige;
}

body {
    min-height: 100vh; /* Makes the content take up full screen*/
    display: flex;
    flex-direction: column;
    margin: 0;
}